<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Homework Differential Equations</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
    MathJax = {
        tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>
<body>
<h1>Chapter 4.7 Variation of Parameters</h1>
<h2>Number 3</h2>
<p>\begin{equation} y''+y= \sin(x) \end{equation}</p>
<p>\begin{align*}m^2+1=0 \\ m^2=-1 \\ m=\pm i \end{align*}</p>
<p>This yields the following as the homogenous portion of the problem:</p>
<p>\begin{equation}y_h=c_1\cos(x)+c_2\sin(x)\end{equation}</p>
<p>Then one can set up the Wronskian for the problem by doing the following:</p>
<p>\begin{equation} W=\begin{vmatrix} \cos(x) & \sin(x) \\ -\sin(x) & \cos(x) \end{vmatrix}=1 \end{equation}</p>
<p>Then one can begin to set up the $u'_1(x)$ by doing the following:</p>
<p>\begin{equation} u'_1= \frac{\begin{vmatrix}0 & \sin(x) \\ \sin(x) & \cos(x) \end{vmatrix}}{1} \end{equation}</p>
<p>\begin{equation}u'_1=-\sin^2(x)\end{equation}</p>
<p>\begin{equation}u_1=\int-\sin^2(x)dx=-\int\frac 12-\frac{\cos(2x)}{2}dx=\frac{\sin(2x)}{4}-\frac{x}{2}\end{equation}</p>
<p>\begin{equation}u_1y_1=\frac{\cos(x)\sin(2x)}{4}-\frac{x\cos(x)}{2}\end{equation}</p>
<p>Now I will setup the second $u'_2(x)$</p>
<p>\begin{equation} u'_2=\frac{\begin{vmatrix}\cos(x) & 0 \\ -\sin(x) & \sin(x) \end{vmatrix}}{1} \end{equation}</p>
<p>\begin{equation}u'_2 = \sin(x)\cos(x) \end{equation}</p>
<p>\begin{equation}u_2 = \int u'_2 dx = \int \sin(x) \cos(x) dx  \end{equation}</p>
<p>Using U-Subtitution you get the following:</p>
<p>\begin{equation}u_2=\int u du=\frac{u^2}{2}=\frac{\sin^2(x)}{2} \end{equation}</p>
<p>\begin{equation}y_2u_2=\frac{\sin^3(x)}2\end{equation}</p>
<p>Therefore the particular solution is the following:</p>
<p>\begin{equation}y_p=\frac{\cos(x)\sin(2x)}{4}-\frac{x\cos(x)}2+\frac{\sin^3(x)}2\end{equation}</p>
<p>Adding our homogeneous, and particular one gets the following:</p>
<p>\begin{equation}c_1\cos(x)+c_2\sin(x)-\frac{x\cos(x)}2+\frac{\sin(x)}{4}-\frac{\sin(x)\cos(2x)}{4}+\frac{\cos(x)\sin(2x)}{4}\end{equation}</p>
<p>The last term simplifies into the following:\begin{equation}y=c_1\cos(x)+(c_2+\frac 12)\sin(x)-\frac{x\cos(x)}2 \end{equation}</p>
<p>Which gives the following as the result. \begin{equation}y=c_1\cos(x)+c_2\sin(x)-\frac{x\cos(x)}2\end{equation}</p>
</body>
</html>