<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Homework Differential Equations </title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
    MathJax = {
        tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>
<body>
<h1>Chapter 4.7 Variation of Parameters</h1>
<h2>Number 1.</h2>
<p>\begin{equation} y''+ y = \sec(x) \end{equation}</p>
<p>Then Using the auxiliary equation one gets the following when solving for the associated homogenous equation:</p>
<p>\begin{align*}m^2+1&=0 \\ m^2&=-1 \\ m&=\pm \sqrt{-1} \\ m&=\pm i \end{align*}</p>
<p>Once we have the powers of euler's number we can plug it in and get the following:</p>
<p>\begin{equation} y_h=c_1\cos(x)+c_2\sin(x)\end{equation}</p>
<p>After this one begins to setup a Wronskian for the problem from the known solutions:</p>
<p>\begin{equation} W = \begin{vmatrix} \cos(x) & \sin(x) \\ -\sin(x) & \cos(x) \end{vmatrix} \end{equation}</p>
<p>\begin{equation} \det{W} = (\cos(x))*(\cos(x))-(\sin(x))*(-\sin(x))=1\end{equation}</p>
<p>\begin{equation}u'_1=\frac{-y_2*f(x)}{W}=\frac{-\sin(x)\sec(x)}{1}\end{equation}</p>
<p>Then one integrates $u'_1(x)$</p>
<p>\begin{align*}u_1&=-\int \frac{\sin(x)}{\cos(x)}dx \\ u_1&=\int \frac{1}u du\\ u_1&=\ln\lvert \cos(x) \rvert \end{align*}</p>
<p>Then to get the other u one has to do the following:</p>
<p>\begin{equation}u'_2=\frac{y_1*f(x)}{W}=\frac{\cos(x)\sec(x)}{1}=1 \end{equation}</p>
<p>Then one can Integrate the $u'_2(x)$</p>
<p>\begin{equation}u_2=\int 1 dx = x\end{equation}</p>
<p>Then we would have to do the following which is $y_p=y_1*u_1+y_2*u_2$</p>
<p>\begin{equation}y_p=(\cos(x))(\ln{(\lvert \cos(x) \rvert)}+ (\sin(x))(x)\end{equation}</p>
<p>The final Solution to the problem is the following</p>
<p>\begin{align} y&= y_h+y_p \\ y&= c_1\cos(x)+c_2\sin(x)+\cos(x)\ln{(\lvert \cos(x) \rvert)}+x\sin(x) \end{align}</p>
</body>
</html>